<div ng-hide="showLoading" class="loader"></div>
<div ng-hide="showLoading" class="loading">Loading..</div>
<div ng-show="showLoading" class="container">
  <div>
    <div class="row">
      <div class="col-sm-1">
        <a ng-href="{{topic.url}}">
          <img ng-if="!(topic.thumbnail=='default')" ng-src="{{topic.thumbnail}}" alt="{{topic.title}}" class="thumbnail" border="0" />
          <img ng-if="topic.thumbnail=='default'" ng-src="{{defaultThumbnail}}" alt="{{topic.title}}" class="thumbnail" border="0" />
        </a>
      </div>
      <div class="col-sm-11">
        <a ng-href="{{topic.url}}" target="_blank">
          <h3 class="title">{{topic.title}}</h3>
        </a>
        <div class="row">
          <div class="col-sm-3" style="cursor:pointer">
            <span>Submitted By  <a ng-href="https://www.reddit.com/user/{{topic.author}}" target="_blank">{{topic.author}}</a> </span>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <img ng-src="{{topic.preview.images[0].source.url}}" class="img-rounded" alt="topic.title" width="600" height="367" />
    </div>
  </div>
  <h2>Top Comment</h2>
  <div class="article-tree">
    <div>
      <script type="text/ng-template" id="tree_item_renderer">
        <span>
              <i class="icon-minus-sign"></i> 
                <a ng-href="https://www.reddit.com/user/{{data.data.author}}" target="_blank">
            {{data.data.author}}:
            </a>
            <br>
            {{data.data.body}}
                </span>
        <ul class="some">
          <li ng-repeat="data in data.data.replies.data.children" ng-show="showReplies(data)" class="parent_li" ng-include="'tree_item_renderer'" tree-node></li>
        </ul>

      </script>
      <div class="tree well">
        <ul>
          <li ng-repeat="data in displayTree" ng-show="showReplies(data)" ng-include="'tree_item_renderer'"></li>
        </ul>
      </div>
    </div>
  </div>
</div>