<div ng-hide="showLoading" class="loader"></div>
<div ng-hide="showLoading" class="loading">Loading..</div>
<div ng-show="showLoading" ng-repeat="content in content.children" ng-init="content.data.imageShow = false">
  <div class="row">
    <div class="col-sm-1">
      <a ng-href="{{content.data.url}}">
        <img ng-if="!(content.data.thumbnail=='default')" ng-src="{{content.data.thumbnail}}" alt="{{content.data.title}}" class="thumbnail" border="0" />
        <img ng-if="content.data.thumbnail=='default'" ng-src="{{defaultThumbnail}}" alt="{{content.data.title}}" class="thumbnail" border="0" />
      </a>
    </div>
    <div class="col-sm-11">
      <a ng-href="{{content.data.url}}" target="_blank">
        <h3 class="title">{{content.data.title}}</h3>
      </a>
      <div class="row">
        <div class="col-sm-3" style="cursor:pointer" ng-click="content.data.imageShow = !content.data.imageShow">
          <a ng-if="content.data.preview.images[0].source.url">
            <span ng-if="!content.data.imageShow" class="glyphicon glyphicon-plus"></span>
            <span ng-if="content.data.imageShow" class="glyphicon glyphicon-minus"></span>
          </a>
          <span>Submitted By {{content.data.author}} </span>
        </div>
        <div class="col-sm-9">
          <a ng-click="navigateToCmnt(content.data.permalink);" style="cursor:pointer">
          Comments
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="content.data.imageShow">
    <img ng-src="{{content.data.preview.images[0].source.url}}" class="img-rounded" alt="Cinque Terre" width="600" height="367" />
  </div>
</div>